@import 'lang';

$dark: #111;
$light: whitesmoke; 

$dark-grey: #323236;
$grey: #727277;
$light-grey: #d2d2df;

$red: #c13c42;
$dark-red: #a00;

$footer-height: 4em;

* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: $light;
    color: $dark;

    font-family: "Noto Sans", sans-serif;
    font-weight: normal; 
    font-style: normal;
}

#my-name {
    text-align: center;
}

.img-p {
    display: flex;
    flex-direction: row;

    img {
        width: 60px;
        height: 60px;
    }

    p {
        padding-left: 20px;
    }
}

code {
    background-color: #e3e3e3;
    padding: 3px;
    border-radius: 2px;
    font-size: 125%;
}

pre {
    border: 2px solid $dark;
    background-color: $dark-grey ! important;
    padding: 10px;
    border-radius: 5px;

    code {
        background-color: #00000000;
        line-height: 1.4;
    }
}

a {
    text-decoration: none;
    font-style: italic;
    color: $red;

    &:hover {
        color: $dark-red;
    }
}

p {
    line-height: 1.5em;
}

@for $i from 1 to 7 {
    h#{$i} {
        font-weight: 600;
    }
}

p {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    a {
        font-style: normal;
        color: $red;
        &:hover {
            color: $grey;
        }
    }
    ul { 
        display: flex;
        justify-content: center;
        li {
            list-style-type: none;
            padding: 0 1em;
        }
    } 

}

header {
    text-align: center;
    background-color: $dark;

    padding: 15px 0;
    padding-left: calc(100vw - 100%); // fix scrollbar jumping

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        letter-spacing: 3px;
        margin: 0 20px;
    }

    a {
        text-decoration: none;
        font-style: normal;
        color: $red;
        &:hover {
            color: $grey;
        }
    }

    nav {
        ul {
            font-weight: 600;
            padding: 0;
            margin: 0;

            display: flex;
            justify-content: center;
            li {
                list-style-type: none;
                padding: 0 1em;
            }
        }
    }
}

.table-of-contents {
    margin-right: 20px;
    margin-top: 20px;

    font-size: 90%;
    flex: 0 0 150px;
    text-align: right;

    li {
        padding: 10px;
        list-style-type: none;
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.slim {
    max-width: 600px;
    margin: 0 auto;
}

.article {
    max-width: 600px;

    .article-end {
        margin-top: 2em;
        text-align: right;
    }

    #page-title {
        font-size: 2em;
        font-weight: 600;
        font-style: italic;

        // For when the github logo is used
        display: flex;
        justify-content: space-between;
    }
}

.reader {
    display: flex;
    justify-content: center;
}

// Wrapper for all content across site
.content {
    padding: 1em;
    padding-bottom: 8em;
}

// Lists of articles
ul {
    padding: 0;
    li {
        display: flex;
        list-style-type: none;
        p {
            margin-top: -1em;
            text-align: justify;
            text-justify: inter-word;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 5em;

    height: $footer-height;
    width: 100%;
    text-align: center;
    
    background-color: $dark;
    color: $light;
}
