:root {
    --dark: #222;
    --light: #fefefe;
    --uns-red: #821bbd;
    --red: #f55;
    --dark-red: #c00;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dark);
    background: var(--light);
    padding-bottom: 10em; 
}

a {
    text-decoration: none;
    font-style: italic;
    color: var(--red);
}

a:hover {
    color: var(--dark-red);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

header a, header a:hover {
    color: var(--dark);
    font-style: initial;
}

header h1:hover {
    color: var(--dark);
    transition-duration: 300ms;
    letter-spacing: 6px;
    margin-right: -6px;
}

header h1, header h2 {
    margin: 2px 0;
}

header h1 {
    transition-duration: 300ms;
    letter-spacing: 2px;
    margin-right: -2px;
    text-transform: uppercase;
}

nav {
    margin: 10px;
}

nav a {
    margin: 10px;
    font-style: initial;
    color: var(--uns-red);
}

section {
    width: 100%;
    max-width: 600px;
}