<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <script src="https://use.fontawesome.com/6a62231b84.js"></script>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/posts">Articles</a></li>
            </ul>
        </div>
        <div class="horizontal-bar"></div>
    </header>
    <div class="content">
        {% block content %}
            <div class="slim">
            {{ section.content | safe }}

            <ul class="simple-list">
                {% for subsection in section.subsections %}
                    {% set section = get_section(path = subsection) %}
                    <li>
                        <div>
                            <div class="headline">
                                <h2><a href={{section.permalink}}>{{ section.title }}</a></h2>
                            </div>
                            <p>{{ section.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endblock content %}
    </div>
    <footer>
        <div class="horizontal-bar"></div>
        <ul>
            <li>
                <a href="https://typesync.rutrum.net" target="_blank">
                    Typesync
                    <i class="fa fa-lg fa-keyboard-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/rutrum" target="_blank">
                    Github
                    <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://stringcase.org" target="_blank">
                    stringcase.org
                    <i class="fa fa-me fa-quote-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </footer>
    <script src="{{ get_url(path="main.js") }}"></script>
</body>
</html>
