<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1; minimum-scale=1; maximum-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <script src="https://use.fontawesome.com/6a62231b84.js"></script>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/12_languages">12 Languages</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="horizontal-bar"></div>
    </header>
    <div class="content">
        {% block content %}
            <div class="slim">
            {{ section.content | safe }}

            <ul class="simple-list">
                {% for subsection in section.subsections %}
                    {% set section = get_section(path = subsection) %}
                    <li>
                        <div>
                            <div class="headline">
                                <h2><a href={{section.permalink}}>{{ section.title }}</a></h2>
                            </div>
                            <p>{{ section.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endblock content %}
    </div>
    <footer>
        <div class="horizontal-bar"></div>
        <ul>
            <li>
                <a href="/david_purdum_resume.pdf" target="_blank">
                    Resume 
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="/david_purdum_cv.pdf" target="_blank">
                    CV 
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="github.com/rutrum" target="_blank">
                    Github
                    <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </footer>
    <script src="{{ get_url(path="main.js") }}"></script>
</body>
</html>
