<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css"></link>
  </head>
  <body>
    <header>
      <nav>
        {% for link in config.extra.header.links %}
        <div><a href="{{link.url}}">{{link.text}}</a></div>
        {% endfor %}
      </nav>
      <div class="horizontal-bar"></div>
    </header>
    <div class="content">
      {% block content %}
      <div class="slim">
        {{ section.content | safe }}
        <br>
        <ul class="simple-list">
          {% set section = get_section(path="posts/_index.md") %}
            {% for page in section.pages | slice(end=3) %}
                <li>
                    <div>
                        <div class="headline">
                            <h2><a href={{page.permalink | safe }}>{{page.title}}</a></h2>
                            <div class="date">{{page.date | date(format="%B %Y")}}</div>
                        </div>
                        {{ page.summary | safe }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href={{section.permalink}}>Read more articles.</a>
      </div>
      {% endblock content %}
    </div>
    <footer>
      <div class="horizontal-bar"></div>
      <nav>
        {% for link in config.extra.footer.links %}
        <div>
          <a href="{{ link.url }}" target="_blank">
            {{ link.text }}
            <i class="nf {{ link.icon }}" aria-hidden="true"></i>
          </a>
        </div>
        {% endfor %}
      </nav>
    </footer>
    <script src="{{ get_url(path="main.js") }}"></script>
  </body>
</html>
