{% extends "index.html" %}

{% block content %}
    <div class="reader">
        {% include "sidebar.html" %}
        <div class="article">
            <h1>
                {{ page.title }}
                {% if page.extra["github"] %}
                    <a href="{{ page.extra["github"] }}">
                        <i class="nf nf-fa-github" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </h1>
            {% include "page_tags.html" %}
            {% if page.date %}
            <div class="date">{{ page.date | date(format="%B %d, %Y") }}</div>
            {% endif %}
            {{ page.content | safe }}
            <div class="article-end">
                {% set next = page.lower %}
                {% if next %}
                    <a href="{{ next.permalink | safe }}">Next: {{ next.title }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
