{% extends "index.html" %}

{% block content %}
    <div class="reader">
        <div class="table-of-contents">
            {% set section = get_section(path = page.ancestors[1]) %}
            {% for page in section.pages %}
                <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
            {% endfor %}
        </div>
        <div class="article">
            <h1 id="page-title">
                {{ page.title }}
                {% if page.extra["github"] %}
                    <a href="{{ page.extra["github"] }}">
                        <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </h1>
            {{ page.content | safe }}
            <div class="article-end">
                {% set next = page.earlier %}
                {% if next %}
                    <a href="{{ next.permalink | safe }}">Next: {{ next.title }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
