{% extends "index.html" %}

{% block content %}
<div class="slim">
    {{ section.content | safe }}
    <ul class="simple-list">
        {% for page in section.pages %}
            <li>
                <div>
                    <div class="headline">
                        <h2><a href={{page.permalink | safe }}>{{page.title}}</a></h2>
                        <div class="date">{{page.date | date(format="%B %Y")}}</div>
                    </div>
                    {{ page.summary | safe }}
                </div>
            </li>

        {% endfor %}
    </ul>
</div>
{% endblock content %}
